@{
    ViewData["Title"] = "Confirmar Pagamento";
}

<div class="d-flex">
    <div class="sidebar d-flex flex-column p-3 bg-white shadow">
        <div class="d-flex">
            <div class="d-flex align-items-center">
                <img src="https://avatars.githubusercontent.com/u/61057709?s=96&v=4" alt="" width="32" height="32" class="rounded-circle me-2">
            </div>
            <div class="d-flex align-items-center">
                <p class="fw-light"><strong>Tarcisio Mendes</strong>  conta:1234-5</p>
            </div>
        </div>
        <div>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-start">
                    <p class="fw-normal">Saldo da Conta</p>
                </div>
                <div class="d-flex justify-content-start">
                    <p class="fw-medium">R$&nbsp;<strong>39.980,28</strong></p>
                </div>
            </div>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link text-dark active" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>Inicio
                </a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Transferir" asp-action="Index">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Transferir
                </a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Pagar" asp-action="Index">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Pagar
                </a>
            </li>
        </ul>
        <hr>
    </div>

    @*Aqui começa o body da página*@
    <div class="d-flex flex-column mb-3 flex-fill" id="ComponenteBody">
        <div class="d-flex flex-row">
            <div class="d-flex justify-content-start">
                <nav class="rounded shadow-sm bg-white" id="NavDataUser">
                    <div class="nav-text">
                        <p class="fw-normal" id="LabelNavDataUser"><strong>Tarcisio Mendes</strong></p>
                    </div>
                    <div class="nav-text">
                        <p class="fw-light" id="LabelNavDataCpf">115.302.167.51</p>
                    </div>
                </nav>
            </div>
        </div>
        @*Aqui começa compoente da funcionalidade*@
        <div class="d-flex">
            <div class="d-flex justify-content-start">
                <label class="fs-6" id="LabelTransfer"><strong>Confirmar dados do pagamento</strong></label>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <div class="container">
                <div class="d-flex bg-white rounded-3 shadow-sm">
                    <div class="d-flex flex-column">
                        <label for="validationServer01" class="form-label fw-normal" id="TitleInfPagamento">Valor a pagar</label>
                        <label class="form-label" id="LabelInfPagamento"><strong>R$ 0,00</strong></label>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="d-flex justify-content-start">
                        <label class="fw-normal" id="LabelTransfer"><strong>Pagamento</strong></label>
                    </div>
                </div>

                <div class="bg-white rounded-3 shadow-sm" id="ComponentInfPagamento">
                    <div class="d-flex">
                        <div class="d-flex justify-content-start">
                            <label class="form-label fw-normal" id="LabelInfPagamento">Data de vencimento</label>
                        </div>

                        <div class="d-flex flex-fill   justify-content-end">
                            <label class="form-label fw-normal" id="LabelInfPagamento"><strong> 23 Abril 2023</strong></label>
                        </div>
                    </div>
                </div>

                @*QUEM VAI RECEBER*@

                <div class="d-flex">
                    <div class="d-flex justify-content-start">
                        <label class="fw-normal" id="LabelTransfer"><strong>Quem vai receber</strong></label>
                    </div>
                </div>

                <div>
                    <table class="table shadow-sm bg-white rounded-3  w-100">
                        <tbody>
                            <tr>
                                <td class="d-flex flex-column form-label fw-normal">
                                    Nome
                                </td>
                                <td class="form-label fw-normal text-end align-middle"><label class="fw-medium"><strong>Veiga de Almeida</strong></label></td>
                            </tr>
                            <tr>
                                <td class="d-flex flex-column form-label fw-normal">
                                    CPF/CNPJ
                                </td>
                                <td class="form-label fw-normal text-end align-middle"><label class="fw-medium"><strong>112.223.334-56</strong></label></td>
                            </tr>
                            <tr>
                                <td class="d-flex flex-column form-label fw-normal">
                                    Instituição                                             </td>
                                <td class=" form-label fw-normal text-end align-middle"><label class="fw-medium"><strong>Ambition Banking S.A</strong></label></td>
                            </tr>

                        </tbody>
                    </table>
                </div>


                <div class="bg-white rounded-3 shadow-sm" id="ComponentInfPagamento">
                    <div class="d-flex">
                        <div class="d-flex justify-content-start">
                            <label class="form-label fw-normal" id="LabelInfPagamento">Data de vencimento</label>
                        </div>

                        <div class="d-flex flex-fill   justify-content-end">
                            <label class="form-label fw-normal" id="LabelInfPagamento"><strong> 23 Abril 2023</strong></label>
                        </div>
                    </div>
                </div>


                <div class="d-flex">
                    <div class="d-flex justify-content-start">
                        <label class="fw-normal" id="LabelTransfer"><strong>Informação adicional</strong></label>
                    </div>
                </div>

                <div class="bg-white rounded-3 shadow-sm" id="ComponentInfPagamento">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-start">
                            <label class="form-label fw-normal" id="LabelInfPagamento">Código do boleto</label>
                        </div>

                        <div class="d-flex flex-fill justify-content-start">
                            <label class="form-label fw-normal" id="LabelInfPagamento">
                                <strong>
                                    1234.12345 12345.123456 12345.123456 1 12345678901234
                                </strong>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary rounded" id="ConfirmButton" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
