
@{
    ViewData["Title"] = "Confirmar Pagamento";
}

<div class="d-flex">
    <div class="sidebar d-flex flex-column p-3 bg-white shadow">
        <div class="d-flex">
            <div class="d-flex align-items-center">
                <img src="https://avatars.githubusercontent.com/u/61057709?s=96&v=4" alt="" width="32" height="32" class="rounded-circle me-2">
            </div>
            <div class="d-flex align-items-center">
                <p class="fw-light"><strong>Tarcisio Mendes</strong>  conta:1234-5</p>
            </div>
        </div>
        <div>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-start">
                    <p class="fw-normal">Saldo da Conta</p>
                </div>
                <div class="d-flex justify-content-start">
                    <p class="fw-medium">R$&nbsp;<strong>39.980,28</strong></p>
                </div>
            </div>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link text-dark active" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>Inicio
                </a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Transferir" asp-action="Index">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Transferir
                </a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Pagar" asp-action="Index">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Pagar
                </a>
            </li>
        </ul>
        <hr>
    </div>

    <div class="d-flex flex-column mb-3 flex-fill">

        <div class="d-flex p-2 justify-content-center">

            <div class="text-center">
                <h3 class="display-4">Confirmar Pagamento</h3>
                <p>Aqui você pode confirmar o seu pagamento</p>
            </div>
        </div>
        <div class="d-flex p-2 justify-content-center">
            <div class="container">
                <form class="row g-3">
                    <div class="d-flex bg-white">
                        <div class="col-md-4">
                            <label for="validationServer01" class="form-label">Valor da transferência</label>
                            <input type="text" class="form-control" id="InputValue" value="R$ 0,00" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column bg-white">

                        <div class="d-flex justify-content-between">
                            <div class="col-md-4">
                                <label for="validationServer01" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="InputName" value="Digite o nome" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationServer01" class="form-label">CPF</label>
                                <input type="text" class="form-control" id="InputCpf" value="000.000.000-00" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="col-md-3">
                                <label for="validationServer04" class="form-label">Tipo de conta</label>
                                <select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                    <option selected disabled value="">Selecione o tipo da conta</option>
                                    <option>Conta Corrente</option>
                                    <option>Conta Poupança</option>
                                </select>
                                <div id="validationServer04Feedback" class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationServer01" class="form-label">Agencia</label>
                                <input type="text" class="form-control" id="InputCpf" value="0001" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationServer01" class="form-label">Conta</label>
                                <input type="text" class="form-control" id="InputCpf" value="1234-5" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary rounded" type="submit">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>