@{
    ViewData["Title"] = "Página inicial";
}
<div class="Container">
    <div>

        <div class="d-flex">
            <div>
                <table class="table rounded shadow-sm bg-white  ">
                    <thead>
                        <tr>
                            <th scope="col">Extrato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <a class="d-flex justify-content-center">
                                    <img src="/Users/tarcisio.pereira/my_project/ambito-banking/img/cashOut.png"
                                         alt="Ambitio" width="10" height="10">
                                </a>
                            </th>
                            <td>Antônio Brasil</td>
                            <td>R$1000,00</td>
                        </tr>
                        <tr>
                            <th>
                                <a class="d-flex justify-content-center">
                                    <img src="/Users/tarcisio.pereira/my_project/Ambito-banking/img/cashOut.png"
                                         alt="Ambitio" width="10" height="10">
                                </a>
                            </th>
                            <td>Antônio Brasil</td>
                            <td>R$1000,00</td>
                        </tr>
                        <tr>
                            <th>
                                <a class="d-flex justify-content-center">
                                    <img src="/Users/tarcisio.pereira/my_project/Ambito-banking/img/cashOut.png"
                                         alt="Ambitio" width="10" height="10">
                                </a>
                            </th>
                            <td>Antônio Brasil </td>
                            <td>R$1000,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>