@using ambitio_banking.Enum
@model RedefinirSenhaModel

@{
    ViewData["Title"] = "Redefinir Senha";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>

<div class="container gradient-custom mw-100 px-0 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white">
                <form id="login-form" class="form" asp-controller="Login" asp-action="EnviarLinkRedefinirSenha" method="post">
                    <div class="card-body p-4 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Redefinir senha</h2>
                            <div class="form-outline form-white mb-4">
                                <label>Login</label>
                                <input type="text" asp-for="Login" id="typeCpf" class="form-control form-control-lg" placeholder="Digite o CPF " />
                                @Html.ValidationMessageFor(x => x.Login)
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label>Email</label>
                                <input type="text" asp-for="Email" id="typeEmail" class="form-control form-control-lg" placeholder="Digite o Email" />
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                            <button class="btn btn-warning btn-lg px-5" role="button" type="submit" asp-controller="Login" asp-action="index">Voltar</button>
                            <button class="btn btn-outline-light btn-lg px-5" type="submit" role="button">Redefinir senha</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>