@{
    Layout = "_LayoutDeslogado";

    ViewData["Title"] = "Página Restrita";
}

<div class="d-flex flex-column">
    <div class="d-flex">
        <h1 class="d-flex justify-content-center p-2 flex-fill">Forbidden 403</h1>
    </div>
    <div class="d-flex justify-content-center p-2 flex-fill">
        <a asp-controller="Home" asp-action="Index">Voltar para a tela inicial</a>
    </div>
</div>
