<div>
    <div>
        @{
            ViewData["Title"] = "Pagar";
        }

        <div class="d-flex">
            <div class="sidebar d-flex flex-column p-3 bg-white shadow">
                <div class="d-flex">
                    <div class="d-flex align-items-center">
                        <img src="https://avatars.githubusercontent.com/u/61057709?s=96&v=4" alt="" width="32" height="32" class="rounded-circle me-2">
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="fw-light"><strong>Tarcisio Mendes</strong>  conta:1234-5</p>
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-start">
                            <p class="fw-normal">Saldo da Conta</p>
                        </div>
                        <div class="d-flex justify-content-start">
                            <p class="fw-medium">R$&nbsp;<strong>39.980,28</strong></p>
                        </div>
                    </div>
                </div>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark active" asp-area="" asp-controller="Home" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>Inicio
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Transferir" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Transferir
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Pagar" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Pagar
                        </a>
                    </li>
                </ul>
                <hr>
            </div>



            <div class="d-flex flex-column mb-3 flex-fill">
                <div class="d-flex p-2 justify-content-center">

                    <div class="text-center">
                        <h3 class="display-4">Pagar</h3>
                        <p>Aqui você pode pagar seu boleto</p>
                    </div>
                </div>
                <div class="d-flex p-2 justify-content-center rounded-3">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Digite ou cole o código de barra</label>
                            <textarea class="form-control" id="FormControlTextarea" rows="10"></textarea>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary rounded" type="submit" id=ConfirmButton asp-controller="ConfirmarPagamento">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
