@{
    ViewData["Title"] = "Pagar";
}

<div class="text-center">
    <h3 class="display-4">Pagar</h3>
    <p>Aqui você pode pagar seu boleto</p>
</div>

<div class="container">
    <form class="row g-3">
        <div class="d-flex bg-white">
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Digite o código de barra</label>
                <div class="input-group">
                    <textarea class="form-control input-group-text" placeholder="Digite ou cole o código"></textarea>
                </div>
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary rounded" type="submit">Confirmar</button>
        </div>
    </form>
</div>