@{
    ViewData["Title"] = "Pagar";
}
@*Sidebar página*@
<div class="d-flex">
    @await Component.InvokeAsync("Menu")
    @*Aqui começa o body da página*@
    <div class="d-flex flex-column mb-3 flex-fill" id="ComponenteBody">
        <div class="d-flex flex-row">
            <div class="d-flex justify-content-start">
                <nav class="rounded shadow-sm bg-white" id="NavDataUser">
                    <div class="nav-text">
                        <p class="fw-normal" id="LabelNavDataUser"><strong>Tarcisio Mendes</strong></p>
                    </div>
                    <div class="nav-text">
                        <p class="fw-light" id="LabelNavDataCpf">115.302.167.51</p>
                    </div>
                </nav>
            </div>
        </div>
        @*Aqui começa compoente da funcionalidade*@
        <div class="d-flex">
            <div class="d-flex justify-content-start">
                <label class="fs-6" id="LabelTransfer"><strong>Pagar</strong></label>
            </div>
        </div>
        <hr>
        <div class="d-flex p-2 justify-content-start rounded-3">
            <form>
                <div class="form-group">
                    <label class="fw-normal">Digite ou cole o código de barra</label>
                    <textarea class="form-control" id="FormControlTextarea" rows="10"></textarea>
                </div>

                <div class="col-12">
                    <button class="btn btn-dark rounded" type="submit" id=ConfirmButton asp-controller="ConfirmarPagamento">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>